html {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.contaniner {
    max-width: 1000px;
    margin: 20px auto;
    border: 1 px solid #bdb2b2;
    border-radius: 5px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
    /*35 to wielkość rozmycia*/
}

header {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
