.blackTile
{
	width: 64px;
	height: 64px;
    float: left;
    background-color: black;
    margin-left: 1px;
    margin-top: 1px;
    color: white;
}
.whiteTile
{
	width: 64px;
	height: 64px;
    float: left;
    background-color: white;
    margin-left: 1px;
    margin-top: 1px;
    text-align: center;
}
.chessBoard{
    border: 3px solid black;
    width: 521px;
    padding-bottom: 1px;
    text-align: center;
    font-size: 40px;
}

.chessPieces{
    font-size:10px;
}

/* white chess king	♔
white chess queen	♕
white chess rook	♖
white chess bishop	♗
white chess knight	♘
white chess pawn	♙

black chess king	♚
black chess queen	♛
black chess rook	♜
black chess bishop	♝
black chess knight	♞
black chess pawn	♟ */